[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Gatling stress test plugin for Git protocol
[access "refs/*"]
	owner = group user/Antonio Barone (syntonyze)
	owner = group user/Fabio Ponciroli (barbasa)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Fabio Ponciroli (barbasa)
	label-Code-Review = -2..+2 group user/Thomas Dräbing (thomasdraebing)
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Fabio Ponciroli (barbasa)
	label-Verified = -1..+1 group user/Thomas Dräbing (thomasdraebing)
	push = group Registered Users
	push = group user/Fabio Ponciroli (barbasa)
	push = group user/Thomas Dräbing (thomasdraebing)
	read = group Registered Users
	read = group user/Fabio Ponciroli (barbasa)
	rebase = group Registered Users
	rebase = group user/Fabio Ponciroli (barbasa)
	rebase = group user/Thomas Dräbing (thomasdraebing)
	removeReviewer = group Registered Users
	removeReviewer = group user/Fabio Ponciroli (barbasa)
	submit = group Registered Users
	submit = group user/Fabio Ponciroli (barbasa)
[access "refs/heads/*"]
	create = group user/Antonio Barone (syntonyze)
	create = group user/Fabio Ponciroli (barbasa)
	push = group user/Antonio Barone (syntonyze)
	push = +force group user/Fabio Ponciroli (barbasa)
	pushMerge = group user/Antonio Barone (syntonyze)
	pushMerge = group user/Fabio Ponciroli (barbasa)
	read = group user/Antonio Barone (syntonyze)
	read = group user/Fabio Ponciroli (barbasa)
[access "refs/tags/*"]
	push = group user/Antonio Barone (syntonyze)
	push = group user/Fabio Ponciroli (barbasa)
	push = +force group user/Fabio Ponciroli (barbasa)
